<!---->

<launch> 

  <!--< param name="tf_prefix" value="Tfoi_1"/> -->
  <!-- <include file="$(find inudev_camera)/launch/inudev_ros_nodelet_multiple.launch"/> 
-->  
   <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>   
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find yhs_nav)/rviz/fw01_2.rviz"/> -->
  <include file="$(find yhs_can_control)/launch/yhs_can_control_bringup.launch"/>
  
  <arg name="map_file" default="$(find yhs_nav)/map/map0527.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find yhs_nav)/param/amcl/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <include file="$(find yhs_nav)/launch/teb_move_base.launch"/>  

</launch>
